#login-body {
    background-color: aliceblue;
}

#login-container {
    margin-top: 8.5%;
}

#login-card {
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}